@font-face {
	font-family: "Code";
	font-weight: normal;
	font-display: swap;
	src: url("fonts/codel.otf") format("opentype");
}

@font-face {
	font-family: "Code";
	font-weight: bold;
	font-display: swap;
	src: url("fonts/codeb.otf") format("opentype");
}

@font-face {
	font-family: "Monad";
	font-weight: normal;
	font-display: swap;
	src: url("fonts/Monad.otf") format("opentype");
}

@font-face {
	font-family: "Stephanie";
	font-weight: normal;
	font-display: swap;
	src: url("fonts/Stephanie.otf") format("opentype");
}

@font-face {
	font-family: "Raleway";
	font-weight: normal;
	font-display: swap;
	src: url("fonts/Raleway.ttf") format("truetype");
}

@font-face {
	font-family: "PoiretOne";
	font-weight: normal;
	font-display: swap;
	src: url("fonts/PoiretOne.ttf") format("truetype");
}

*{
	padding: 0;
	margin: 0;
}

body {
	
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: 1fr 1fr 1fr;
	
	overflow: hidden;
	background: url(bg.png) repeat center/cover;
	
}

svg {
	
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end: 4;
  
	width: 100vw;
	height: 100vh;
	
	z-index:0;
	
}

.forChrome {
    position: absolute;
    top: 10px;
    left: 10px;
    text-align: left;
	color: black;
	font-family: "PoiretOne";
	font-size: 1.5vh;
	font-weight: bold;
	text-shadow: 2px 3px 5px rgba(0,0,0,0.5);
}

.title {
	
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end: 2;
	justify-self: center;
	align-self: center;	
				
	text-align: center;
	text-shadow: 2px 3px 5px rgba(0,0,0,0.5);
	
	font-family: "Monad";
	font-size: 4.5vmax;
	
	z-index:1;
}

.subtitle {
	
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end: 2;
	justify-self: center;
	align-self: center;	
				
	text-align: center;
				
	font-family: "Monad";
	font-size: 1.1vmax;
	
	animation-name: example;
	animation-duration: 2s;
		
	z-index:1;
}

@keyframes example {
  0%   {opacity: 0; transform : translateY(-1em);}
  25%  {opacity: 0.25;}
  50%  {opacity: 0.5;}
  75%  {opacity: 0.75;}
  100% {opacity: 1;}
}

.desktop {
	
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 2;
	grid-row-end: 3;

	justify-self: stretch;
	align-self: stretch;

	height: 15vw;
	
	border-top: 1px solid orange;
	border-bottom: 1px solid orange;

	box-shadow: 0 1px 1px rgba(0,0,0,0.12), 
				0 2px 2px rgba(0,0,0,0.12), 
				0 4px 4px rgba(0,0,0,0.12), 
				0 8px 8px rgba(0,0,0,0.12),
				0 16px 16px rgba(0,0,0,0.12);

	display: grid;
	grid-template-columns: 50% 50%;
	grid-template-rows: 100%;	
	
	z-index:1;

}

.mobile {	
	display: none;
}

.color {
	
	grid-column-start: 1;
	grid-column-end: 3;
	grid-row-start: 1;
	grid-row-end: 2;
	
	justify-self: stretch;
	
	background-color: black;
	
	opacity: 0.6;
	
	z-index:2;
		
}

.text {
	
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end: 2;
		
	justify-self: stretch;
	align-self: center;
		
	text-align: center;
	
	font-family: "PoiretOne";
	color: orange;

	border-right: 1px solid orange;
	
	z-index:3;
	
}

.form {
	
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 1;
	grid-row-end: 2;
	
	justify-self: stretch;
	align-self: center;
	
	text-align: center;
		
	font-family: "PoiretOne";
	color: orange;
	text-align: center;
	
	z-index:3;
	
}

.mail {
		
	width: 15vw;
	height: 1.6vw;
	background-color: #202225;
	border-radius: 25px;
	color: orange;
	font-family: 'Raleway';
	font-size: 1.5vh;
	
	border: 1px solid orange;
	outline: none;	
	text-align: center;	

}

.btn {
	
	width: 15vw;
	height: 1.6vw;
	background-color: #202225;
	border-radius: 25px;
	color: orange;
	font-family: 'Raleway';
	font-size: 1.5vh;
	
	border: 1px solid orange;
	outline: none;	
	
}

.btn:hover {
  background-color: orange;
  color: black;
}

.btn:active {
	transform: translateY(2px);
}

@media (orientation: portrait) {

	.desktop {
		display: none;
	}

	.mobile {
		
		grid-column-start: 1;
		grid-column-end: 2;
		grid-row-start: 2;
		grid-row-end: 4;
		
		justify-self: stretch;
		
		display: inline-block;	
		
		border-top: 1px solid orange;
		border-bottom: 1px solid orange;
			
		z-index:1;
		
	}
	
	.title {
		width: 80%;
	}
	
	.subtitle {
		font-size: 1.4vmax;
	}	

	.color {
		width: 100%;
		height: 100%;
		position: absolute;
		z-index: -1;
	}

	.text {
		margin: auto;
		margin-top: 5%;
		width: 90%;
		border-right: 0px;	
		text-align: center;		
	}
	
	.form {
		margin: auto;
		margin-top: 15%;
		width: 80%;
		text-align: center;	
	}
	
	.mail {
		margin-top: 5%;
		width: 50vw;
		height: 7vw;
	}

	.btn {
		margin-top: 2%;
		width: 50vw;
		height: 7vw;
	}

}
